body {
	width: 100%;
	padding: 0;
	margin: 0;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

.aon {
	width: 94%;
	margin: 0 auto;
}

.aon > div {
	float: left;
}

.left {
	width: 24%;
}

.left img {
	width: 100%;
}

.center {
	width: 30%;
	padding-left: 5%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.center div {
	flex: 1 0 20px;
}







